#root {
    margin: 1rem;
}

.custDetailsLabel {
    width: 18ch;
}

.accountId {
    width: 38ch;
    user-select: all;
}

.nameField {
    width: 30ch;
}

.amountField {
    width 6ch;
}

.dateField {
    width 10ch;
}

.supplierField {
    width: 20ch;
}

.readingField {
    width: 8ch;
}
